<p>
    <mat-toolbar color="primary">
    <span>My Application</span>
  </mat-toolbar>
  </p>
  <button mat-raised-button color="primary" type="submit" (click)="gotoForm()">Register Form</button>
  <button mat-raised-button style="margin-left:10px;" color="primary" type="submit" (click)="gotoApiDetails()">API Details</button>
  <button mat-raised-button style="margin-left:10px;" color="primary" type="submit" (click)="gotoChart()">Ng2 Chart</button>
  <button mat-raised-button style="margin-left:10px;" color="primary" type="submit" (click)="gotocontent()">Ng Content</button>
<br><br>
  <!-- ag grid table -->
<!-- <ag-grid-angular 
    style="width: 700px; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs">
</ag-grid-angular> -->
<router-outlet></router-outlet>
