<p class="title align">Form Submitted Successfully !!</p>
<p class="sub-title">
    List of Team Members
</p>
<ng-container>
    <table class="table">
      <thead>
        <tr>
          <th>GameActivityTag</th>
          <th>TeamName</th>
          <th>StartDate</th>
          <th>EndDate</th>
          <th>Action Button</th>
        </tr>
      </thead>
      <tbody>
        <div  *ngFor="let list of details.Team">
          <tr style="text-align:center;">
            <td>{{list.GameActivityTag}}</td>
            <td>{{list.TeamCode}}</td>
            <td>{{list.StartDate}}</td>
            <td>{{list.EndDate}}</td>
            <td>       
              <button mat-raised-button color="primary" type="view">View Details</button>
              <button mat-fab color="primary" class="delete-btn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </div>
        
      </tbody>

    </table>
  </ng-container> 


    